<% var data = { title: "Main Page" }; %> 
<%= _.template(require('./../includes/main.html').default)(data) %> 
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="content second-page">
    <div class="wrapper">
        <div class="head"> 
            <button class="btn head__white">וקפוהש תוסילופ</button>
            <button class="btn head__orange">תונורחא תועצה</button>
            <span class="head__icon"></span>
        </div>
        
        <div class="search">
            <button class="btn_green"><span class="arrow"></span><span class="search__text">השדח העצה</span></button>
            <button class="search__button"><span class="search__magnifier"></span>שופיח</button>
        </div>

        <div class="block">
            <div class="block__btns">
                <div class="block__letter-font"><span class="block__letter-icon"></span></div>
                <div class="block__letter-font"><span  class="block__pen-icon"></span></div>
                <span class="block__car-icon"></span>
            </div>

            <div class="block__list">
                <div class="block__title-left">
                    <div class="block__title-gray">ביטקלוק</div>
                     <div class="__title-blue">ביטקלוקה םש</div>
                </div>
    
                <div class="block__title-left">
                    <div class="block__title-gray">חטובמ םש</div>
                     <div class="__title-blue">ביטקלוקה םש</div>
                </div>
    
                <div class="block__title">
                    <div class="block__title-gray">יושיר רפסמ</div>
                    <div class="block__title-blue">12-345-67</div>
                </div>
    
                <div class="block__title">
                    <div class="block__title-gray">תוהז תדועת</div>
                    <div class="block__title-blue">038974573</div>
                </div>
    
                <div class="block__title">
                    <div class="block__title-gray">חוטיב תליחת</div>
                    <div class="block__title-blue">04.04.2020</div>
                </div>
    
                <div class="block__title">
                    <div class="block__title-gray">העצה תחיתפ</div>
                    <div class="block__title-blue">12.10.2019</div>
                </div>
    
                <div class="block__title">
                    <div class="block__title-green">(חוקלל החלשנ)</div>
                </div>
    
                <div class="block__title">
                    <div class="block__title-gray">הסילופ</div>
                    <div class="block__title-blue">123456789012</div>
                </div>
            </div>

        </div>
        
           <div class="text">חוקלל חלשנ &nbsp; הסילופ ‘סמ חוטיבה תליחת העצהה תחיתפ תוהז תדועת יושיר ‘סמ &nbsp; חטובמ םש  &emsp; רצומ &nbsp; ףנע</div>

        <div class="container">
            <div class="container__framework"><span class="container__chek"></span><span class="divider"></span>123456789012 <span class="divider"></span> 04.04.2020 <span class="divider"></span> 12.10.2019 <span class="divider"></span> 039894872 <span class="divider"></span> 12-345-67 <span class="divider"></span>  בכר  <span class="divider"></span> רצומה םש &nbsp; <span class="divider"></span> םהרבא ןב קחצי</div>
            <div class="container__framework-orange"><span class="container__chek"></span><span class="divider"></span>123456789012 <span class="divider"></span> 04.04.2020 <span class="divider"></span> 12.10.2019 <span class="divider"></span> 039894872 <span class="divider"></span> 12-345-67 <span class="divider"></span>  בכר  <span class="divider"></span> רצומה םש &nbsp; <span class="divider"></span> םהרבא ןב קחצי 
                <div class="container__icons">
                    <div class="container__letter">
                        <span class="container__letter-icon"></span>
                            <span class="container__letter-text">תחילש העצהה</span>
                    </div>
                    <div class="container__pen">
                        <span class="container__pen-icon"></span>
                        <span class="container__pen-text"> תכירע העצהה</span>
                    </div>
                </div>
            </div>
            <div class="container__framework"><span class="container__chek"></span><span class="divider"></span>123456789012 <span class="divider"></span> 04.04.2020 <span class="divider"></span> 12.10.2019 <span class="divider"></span> 039894872 <span class="divider"></span> 12-345-67 <span class="divider"></span>  בכר  <span class="divider"></span> רצומה םש &nbsp; <span class="divider"></span> םהרבא ןב קחצי</div>
            <div class="container__framework"><span class="divider"></span>123456789012 <span class="divider"></span> 04.04.2020 <span class="divider"></span> 12.10.2019 <span class="divider"></span> 039894872 <span class="divider"></span> 12-345-67 <span class="divider"></span>  בכר  <span class="divider"></span> רצומה םש &nbsp; <span class="divider"></span> םהרבא ןב קחצי</div>
            <div class="container__framework"><span class="container__chek"></span><span class="divider"></span>123456789012 <span class="divider"></span> 04.04.2020 <span class="divider"></span> 12.10.2019 <span class="divider"></span> 039894872 <span class="divider"></span> 12-345-67 <span class="divider"></span>  בכר  <span class="divider"></span> רצומה םש &nbsp; <span class="divider"></span> םהרבא ןב קחצי</div>
            <div class="container__framework"><span class="container__chek"></span><span class="divider"></span>123456789012 <span class="divider"></span> 04.04.2020 <span class="divider"></span> 12.10.2019 <span class="divider"></span> 039894872 <span class="divider"></span> 12-345-67 <span class="divider"></span>  בכר  <span class="divider"></span> רצומה םש &nbsp; <span class="divider"></span> םהרבא ןב קחצי</div>
            <div class="container__framework"><span class="container__chek"></span><span class="divider"></span>123456789012 <span class="divider"></span> 04.04.2020 <span class="divider"></span> 12.10.2019 <span class="divider"></span> 039894872 <span class="divider"></span> 12-345-67 <span class="divider"></span>  בכר  <span class="divider"></span> רצומה םש &nbsp; <span class="divider"></span> םהרבא ןב קחצי</div>
            <div class="container__framework"><span class="divider"></span>123456789012 <span class="divider"></span> 04.04.2020 <span class="divider"></span> 12.10.2019 <span class="divider"></span> 039894872 <span class="divider"></span> 12-345-67 <span class="divider"></span>  בכר  <span class="divider"></span> רצומה םש &nbsp; <span class="divider"></span> םהרבא ןב קחצי</div>
            <div class="container__framework"><span class="divider"></span>123456789012 <span class="divider"></span> 04.04.2020 <span class="divider"></span> 12.10.2019 <span class="divider"></span> 039894872 <span class="divider"></span> 12-345-67 <span class="divider"></span>  בכר  <span class="divider"></span> רצומה םש &nbsp; <span class="divider"></span> םהרבא ןב קחצי</div>
            <div class="container__framework"><span class="container__chek"></span><span class="divider"></span>123456789012 <span class="divider"></span> 04.04.2020 <span class="divider"></span> 12.10.2019 <span class="divider"></span> 039894872 <span class="divider"></span> 12-345-67 <span class="divider"></span>  בכר  <span class="divider"></span> רצומה םש &nbsp; <span class="divider"></span> םהרבא ןב קחצי</div>
        </div>
    </div>
</main>    

<%= _.template(require('./../includes/bottom-side.html').default)(data) %>